body {
  background-color: #b2663b;
}
h1{
  text-align: center;
  font-weight: bolder;
  color: #433834;
  font-family: 'Rancho', cursive;
  font-size: 50px;
  text-shadow: 
    3px -1px 0px #000000, 
    4px 1px 4px #000000;
  letter-spacing: 4px;
  font-weight: bolder;
}
h3 {
  font-family: 'Rancho', cursive;
  font-size: 40px;
  color: #2f2b20;
  margin: 15px 15px 0px 10px;
}
img {
  width: 300px;
}
.logo-with-title {
  margin: 10px auto;
  width: 400px;
  padding: 20px 50px;
  border: 12px #433834 solid;
  border-radius: 120px;
  background-color: #b0978d;
  box-shadow: inset 0px 0px 6px 3px #000000, 0px 4px 6px #000000;
  text-align: center;
  font-weight: bolder;
  color: #433834;
  font-family: 'Rancho', cursive;
  font-size: 50px;
  letter-spacing: 4px;
}
.cards {
  background-color: #b0978d;
  border-radius: 15px;
  width: fit-content;
  padding: 10px;
  margin: 25px auto;
  box-shadow: 0px 4px 6px #000000;
  border-bottom: 3px solid #000000;
}
.cards h1 {
  margin-bottom: 10px;
}
table {
  border: 1px solid #000000;
}
.table-city {
  font-family: 'Rancho', cursive;
  font-size: 30px;
  color: #2f2b20;
  padding: 15px 5px 15px 5px;
  text-align: right;
  background-color: #b0978d;
}
#locations-information li {
  font-family: Helvetica, sans-serif;
  list-style: none;
  margin: 0px 0px 0px 30px;
}
td {
  border: 1px solid #000000;
  padding: 0px 5px;
  text-align: center;
}
#total-cookies td:not(:first-child) {
  background-color: #c7b2aa;
}
#main-locations li {
  font-family: Helvetica, sans-serif;
  list-style: none;
  margin: 0px 10px;  
}
.locations {
  float: right;
  text-align: right;
}
.we-so-fancy {
  float: left;
  text-align: left;
  width: 150px;
  text-align: center;
}
.we-so-fancy img {
  margin: 15px auto 5px;
  width: 100px;
}
fieldset {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: fit-content;
  height: 60px;
}
input {
  padding: 5px 10px;
  margin: 6px 8px;
}
input:focus, input:hover, button:hover {
  box-shadow: 0px 4px 6px #000000;
  border-bottom: 3px solid #000000;
  top: -5px;
  transition: 0.3s;
}
button {
  margin-left: 20px;
  margin-right: 10px;
  height: 30px;
  width: 80px;
}
strong {
  font-family: 'Rancho', cursive;
  font-size: medium;
}