html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  vertical-align: middle;
  background-color: #b2663b;
}

header {
  margin-bottom: 50px;
}
h1{
  text-align: center;
  font-weight: bolder;
  color: #433834;
  font-family: 'Rancho', cursive;
  font-size: 50px;
  text-shadow: 
    3px -1px 0px #000000, 
    4px 1px 4px #000000;
  letter-spacing: 4px;
  font-weight: bolder;
}
h3 {
  font-family: 'Rancho', cursive;
  font-size: 40px;
  color: #2f2b20;
  margin: 15px 15px 0px 10px;
}
img {
  width: 300px;
}
.logo-with-title {
  margin: 10px auto;
  width: 400px;
  padding: 20px 50px;
  border: 12px #433834 solid;
  border-radius: 120px;
  background-color: #b0978d;
  box-shadow: inset 0px 0px 6px 3px #000000, 0px 4px 6px #000000;
  text-align: center;
  font-weight: bolder;
  color: #433834;
  font-family: 'Rancho', cursive;
  font-size: 50px;
  letter-spacing: 4px;
}
.cards {
  background-color: #b0978d;
  border-radius: 15px;
  width: fit-content;
  padding: 10px;
  margin: 25px auto;
  box-shadow: 0px 4px 6px #000000;
  border-bottom: 3px solid #000000;
}
.cards h1 {
  margin-bottom: 10px;
}
table {
  border: 1px solid #000000;
}
.table-city {
  font-family: 'Rancho', cursive;
  font-size: 30px;
  color: #2f2b20;
  padding: 15px 5px 15px 5px;
  text-align: right;
  background-color: #b0978d;
}
#locations-information li {
  font-family: Helvetica, sans-serif;
  list-style: none;
  margin: 0px 0px 0px 30px;
}
td {
  border: 1px solid #000000;
  padding: 0px 5px;
  text-align: center;
}
#total-cookies td:not(:first-child) {
  background-color: #c7b2aa;
}
#main-locations li {
  font-family: Helvetica, sans-serif;
  list-style: none;
  margin: 0px 10px;  
}
.index-cards {
  background-color: #b0978d;
  border-radius: 15px;
  width: fit-content;
  padding: 20px;
  box-shadow: 0px 4px 6px #000000;
  border-bottom: 3px solid #000000;
}
.locations {
  height: 425px;
  float: left;
  text-align: left;
  margin-right: 15%;
}
.leeloo-supreme {
  display: inline-block;
}
.we-so-fancy {
  height: 425px;
  float: right;
  width: 320px; 
}
#family-photo {
  display: block;
  margin: 20px auto 0;
  width: 300px;
  border: 12px #433834 solid;
  border-radius: 120px;
  background-color: #b0978d;
  box-shadow: inset 0px 0px 6px 3px #000000, 0px 4px 6px #000000; 
}
.inner-div {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}
.inner-div img {
  margin: 15px auto 25px;
  width: 135px;
}
.inner-div p {
  font-size: large;
  font-weight: bold;
}
.main-section {
  max-height: 447px;
}
#leeloo {
  display: block;
  margin: 0 auto;
  width: 300px;
  border: 12px #433834 solid;
  border-radius: 120px;
  background-color: #b0978d;
  box-shadow: inset 0px 0px 6px 3px #000000, 0px 4px 6px #000000;
}
fieldset {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
}
input {
  padding: 5px 10px;
  margin: 6px 8px;
}
input:focus, input:hover, button:hover {
  box-shadow: 0px 4px 6px #000000;
  border-bottom: 3px solid #000000;
  top: -5px;
  transition: 0.3s;
}
button {
  margin-left: 20px;
  margin-right: 10px;
  height: 30px;
  width: 80px;
}
strong {
  font-family: 'Rancho', cursive;
  font-size: medium;
}
td {
  max-width: 132px;
}
.story {
  width: 500px;
  margin: 100px auto;
  font-size: x-large;
  text-align: center;
}
footer {
  width: 1500px;
  height: 30%;
  clear: both;
}