body {
  background-color: #b2663b;
}
img {
  width: 250px;
  /* if I can get the image cut out do box-shadow on it; */
  /* box-shadow: 0px 0px 10px 2px; */
}
.logo-with-title {
  margin: 10px auto;
  width: 300px;
  font-size: xx-large;
  padding: 20px 50px;
  border: 12px #433834 solid;
  border-radius: 80px;
  text-align: center;
  font-weight: bolder;
  color: #433834;
  background-color: #b0978d;
  box-shadow: inset 0px 0px 6px 3px #000000, 0px 0px 10px 2px #000000;
  text-shadow: 0px 0px 4px #000000;
}